<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/style.css" />
  </head>
  <header>Laris Jernigan</header>
  <h1>Professional Portfolio</h1>

  <img class="mePicture" src="../CSS/Pic_Professional.gif" alt="Me" />

  <body>
    <section>
      <p class="aboutMe">
        Hello, I am based in Atlanta, Georgia. I enjoy learning new skills and
        constantly being challenged. I enjoy computers and Software Programming.
      </p>
    </section>
    <section>
      <h3>Contact Information</h3>
      <div>
        <label for="email" class="email">Larisjernigan@gmail.com</label>
        <label for="phone" class="phone">702.236.5096</label>
      </div>
    </section>
    <h3>Skills</h3>
    <div class="container">
      <label class="skillLbl">B.B.A Degree</label>
      <label class="skillLbl">Graduate of We Can Code IT Academy</label>
      <label class="skillLbl">10+ Years Management experience</label>
      <label class="skillLbl">Great people skills</label>
    </div>
    <h3>Programming Languages</h3>
    <div class="container2">
      <img class="langImg" src="../CSS/html.jpg" alt="HTML" />
      <img class="langImg" src="../CSS/CSS2.jpg" alt="CSS" />
      <img class="JS" src="../CSS/JavaScript.jpg" alt="JS"/>
      <img class="langImg" src="../CSS/Java.jpg" alt="Java" />
      <img class="langImg" src="../CSS/React.jpg" alt="React" />
      <img class="spring" src="../CSS/Spring.jpg" alt="Spring"/>
    </div>
    <section>
      <h3>Projects</h3>
      <nav>
        <article>
          <a class="link" href="https://github.com/Laris777/Project-A.git">Project A: DonutClicker </a>
        </article>
        <article>
          <a class="link" href="https://github.com/Laris777/ProjectB.git">Project B: Virtual Pet Shelter</a>
        </article>
        <article>
          <a class="link" href="https://github.com/Laris777/ProjectC.git">Project C: Virtual Pet API</a>
        </article>
        <article>
          <a  class="link" href="">Team Project: Flight Reservation System</a>
        </article>
      </nav>
    </section>
    <h3>Links</h3>
    <nav>
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/laris-jernigan-711a57278/">Linked In</a>
        </li>
        <li>
          <a href="https://github.com/Laris777">GitHub</a>
        </li>
        <li>
          <a href="#">Facebook</a>
        </li>
        <li>
          <a href="#">Email</a>
        </li>
      </ul>
    </nav>
  </body>
  <footer>Always looking to network and expand.</footer>
</html>
